@import "~normalize.css";
@main-font: 'Nunito', sans-serif;
@menu-font: 'Dosis', sans-serif;
@card-background: rgba(255, 255, 255, 0.9);
@border-radius: 15%;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: @main-font;
  background-image: url(../assets/images/Flat-Mountains.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 50px auto 0;
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  height: 10px;
  @media(max-width:768px) {
    display: none;
}
}

.menu {
  font-family: @menu-font;
  width: 300px;
  height: 100%;
  background-color: #fdb900;
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20% 60% 0;
  transition: left .8s cubic-bezier(1, 0, 0, 1);
  z-index: 1;
  &__burger {
    width: 35px;
    height: 30px;
    position: inherit;
    top: 50px;
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__list {
    text-align: left;
  }
  &__item {
    list-style: none;
    margin: 25px;
  }
  &__link {
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
    cursor: pointer;
  }
  &__link::before,
  &__link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  &__link::before {
    top: 0;
    transform-origin: left;
  }
  &__link::after{
    bottom: 0;
    transform-origin: right;
  }
  &__link:hover::before,
  &__link:hover::after{
    transform: scaleX(1);
  }
}

.active {
  font-weight: 700;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all .8s;
}

.change {
  left: 0;
  & .line1 {
    transform: rotateZ(-405deg) translate(-13px, 6px);
  }
  & .line2 {
    opacity: 0;
  }
  & .line3 {
    transform: rotateZ(405deg) translate(-13px, -6px);
  }
}

.mode__switcher {
  width: 295px;
  height: 179px;
  margin-top: -57px;

  #switcher {
    display: none;
  }
  #button {
    position: relative;
    display: block;
    width: 350px;
    height: 150px;
    background-color: #ac0156;
    border-radius: 350px;
    cursor: pointer;
    transform: scale(0.4);
    margin: 50px auto;
  }
  .round {
    width: 140px;
    height: 140px;
    background-color: #fff;
    background-size: 700px;
    position: relative;
    top: 5px;
    left: 4px;
    border-radius: 290px;
    transition: 0.4s ease left, 0.4s ease background-position;
    z-index: 2;
  }
  .play,
  .train {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
  }
  .train {
    margin-left: 30px;
  }
  .play {
    margin-left: 205px;
  }
  #switcher:checked + #button {
    background-color: #b10022;
    .round {
      left: 205px;
      background-position: -350px 0;
    }
  }
  }


.card {
  width: 100%;
  max-width: 245px;
  background-color: @card-background;
  border-radius: @border-radius;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  height: 270px;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 18px -6px black;
  }

  &__word {
    padding: 0 0 15px 25px;
    font-size: 1.5rem;
    display: block;
  }

  &__rotate-icon {
    background-image: url("../assets/images/icon.svg");
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    right: 25px;
    filter: contrast(0.5);
  }

  &__front-image,
  &__back-image {
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: 10px auto;
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }

  &__back {
    transform: rotateY(180deg) scale(-1, 1);
  }
}

.rotate__front {
  transform: rotateY(180deg);
}
.rotate__back {
  transform: rotateY(360deg);
}

.category__container {
  width: 100%;
  max-width: 1200px;
  margin: 23px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.app__container {
  display: flex;
  flex-wrap: wrap;
}
.category__card {
  width: 100%;
  max-width: 245px;
  background-color: @card-background;
  border-radius: @border-radius;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin: 10px 10px 50px 10px;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 18px -6px black;
  }
}

